@import "../../../styles/utils/mixins";

$content-buttons-border-color: #EBEBEB;
$white-color: #ffffff;
$black-color: #000000;

/* start: theme config */
$theme-list-map: (
  theme1: (
    apple-card-border-color: #EBEBEB,
    apple-card-background-color: #F9F7F8,
    apple-card-name-color: #6F7275,
    apple-card-icon-color: #BBBAB7,
    apple-card-image-front: "music-03",
    apple-card-image-back: "music-03"
  ),
  theme2: (
    apple-card-border-color: #5156A6,
    apple-card-background-color: #6369CA,
    apple-card-name-color: #ffffff,
    apple-card-icon-color: #D8DAF2,
    apple-card-image-front: "music-04",
    apple-card-image-back: "music-04"
  ),
  theme3: (
    apple-card-border-color: #E8935D,
    apple-card-background-color: #FFB385,
    apple-card-name-color: #FFFFFF,
    apple-card-icon-color: #E8935D,
    apple-card-image-front: "music-05",
    apple-card-image-back: "music-05"
  ),
  theme4: (
    apple-card-border-color: #CACAF9,
    apple-card-background-color: #EAEAFF,
    apple-card-name-color: #63376E,
    apple-card-icon-color: #CACAF9,
    apple-card-image-front: "music-03",
    apple-card-image-back: "music-03"
  ),
  theme5: (
    apple-card-border-color: #B766CC,
    apple-card-background-color: #884B96,
    apple-card-name-color: #FFFFFF,
    apple-card-icon-color: #B766CC,
    apple-card-image-front: "music-05",
    apple-card-image-back: "music-05"
  )
);

@mixin set-theme($apple-card-border-color, $apple-card-background-color, $apple-card-name-color, $apple-card-icon-color, $apple-card-image-front, $apple-card-image-back) { 
  border-color: $apple-card-border-color;
  background-color: $apple-card-background-color;
  &.apple-card-front {
    @include set-bg-image($apple-card-image-front);
  }
  &.apple-card-back {
    @include set-bg-image($apple-card-image-back);
  }
  .name {
    color: $apple-card-name-color;
  }
  .apple-icon, .icon-mastercard {
    color: $apple-card-icon-color;
  }
  .sim-card-icon {
    background-color: $apple-card-icon-color;
  }
  .card-bottom {
    background-color: $apple-card-border-color;
  }
}

@each $theme-name, $map in $theme-list-map {
  .color-selector Button.#{$theme-name}-bg {
    background-color: map-get($map, apple-card-background-color);
    border-color: map-get($map, apple-card-border-color);
  }

  .#{$theme-name} .rotate-selector Button {
    width: 150;
    background-color: map-get($map, apple-card-background-color);
    color: map-get($map, apple-card-name-color);
    border-color: map-get($map, apple-card-border-color);
  }

  .#{$theme-name} .apple-card {
    @include set-theme(
      map-get($map, apple-card-border-color), 
      map-get($map, apple-card-background-color), 
      map-get($map, apple-card-name-color), 
      map-get($map, apple-card-icon-color),
      map-get($map, apple-card-image-front),
      map-get($map, apple-card-image-back)
    )
  }
} /* end: theme config */

.content-buttons {
  border-color: $content-buttons-border-color;
  border-width: 1;
  Button {
    margin: 10;
    border-width: 1;
    color: $white-color;
    padding: 12;
    border-radius: 10;
    text-transform: capitalize;
  }
}

.color-selector {
  Button {
    width: 50;
    height: 50;
  }
}

.apple-card {
  width: 270;
  height: 160;
  border-width: 1;
  border-radius: 10;
  .name {
    font-size: 13;
    vertical-alignment: center; // for android
  }
}

.apple-card-front {
  @extend .apple-card;
  padding: 0 24;
  .apple-icon {
    font-size: 32;
    text-align: left;
    vertical-alignment: center; // for android
  }
  .sim-card-icon {
    width: 30;
    height: 20;
    border-radius: 3;
    horizontal-alignment: right;
  }
}

.apple-card-back {
  @extend .apple-card;

  .icon-mastercard {
    text-align: right;
    font-size: 32;
    vertical-alignment: top;
    padding: 24 24 0 0;
  }
  .card-bottom {
    border-bottom-right-radius: 10; // for android
    border-bottom-left-radius: 10; // for android
  }
  .name {
    vertical-alignment: top;
    padding: 24 0 0 24;
  }
}